# UDM Credentials
UDM_IP=192.168.5.1
SSH_USER=root
SSH_PASS=`I am not telling you mine` #better escape the password if it has any special characters in it
      
# Monitoring Thresholds
ZOMBIE_THRESHOLD=2
CHECK_INTERVAL_SECONDS=3600 # Checks once per hour